body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}
#calculator{
  font-family: Arial , sans-serif;
  background-color: rgb(43, 41, 41);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}
#keys{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  gap: 10px;
  padding: 25px;
}
#display{
width: 100%;
padding: 20px;
font-size: 5rem;
text-align: left;
border: none;
background-color: rgb(62, 58, 58);
color: white;
}
button{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: rgb(66, 58, 58);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
  background-color: rgb(91, 83, 83);
}
button:active{
  background-color:  rgb(118, 111, 111);
}
.operator-Btn{
  background-color: orange;
}
.operator-Btn:hover{
  background-color: rgb(212, 178, 114);
}
.operator-Btn:active{
  background-color: orange;
}
